<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" />
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/swiper.min.css') }}" rel="stylesheet" />
        <!-- Main CSS (SCSS Compile) -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block header %}
        <!--preload-->
        <div class="loader" id="page-loader">
            <div class="loading-wrapper">
                <p>Loading<span>.</span><span>.</span><span>.</span></p>
            </div>
        </div>
        <!--menu mobile-->
        <nav class="menu-res hidden-lg hidden-md ">
            <div class="menu-res-inner">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index-2.html"> Home </a>
                    <li class="menu-item-has-children">
                        <a href="category.html"> Category </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="single.html">Shop<span></span></a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="about.html">Pages<span></span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="about.html">About me</a>
                            </li>
                            <li>
                                <a href="404.html">Page 404</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                            <li>
                                <a href="gallery.html"> Gallery</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--menu-icon-->
        <div class="menu-icon hidden-sm hidden-xs">
            <i class="fa fa-navicon"></i>
        </div>
        <!--page-->
        <div class="page">
            <div class="mobile-bar hidden-lg hidden-md">
                <div class="menu-icon-mobile hidden-lg hidden-md">
                    <i class="fa fa-navicon"></i>
                    <span>MENU</span>
                </div>
                <div class="search-icon-mobile">
                    <i class="fa fa-search"></i>
                </div>
                <div class="search-box-mobile">
                    <form>
                        <input type="search" value="" placeholder="Begin typing..." class="txt-search">
                    </form>
                </div>
            </div>
            <!--header-->
            <header class="header">
                <div class="container">
                    <div class="logo-wrap">
                        <a href="#" class="logo">
                            <img alt="" src="{{ asset('images/logo.png') }}" />
                        </a>
                    </div>
                    <!--menu-main-->
                    <nav class="menu-main">
                        <div class="menu-main-inner">
                            <ul class="hidden-sm hidden-xs">
                                <li class="menu-item-has-children">
                                    <a href="{{ path('store_default_index') }}"><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{{ path('store_default_shop') }}">Shop</a>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{{ path('store_admin') }}">Home Admin</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{{ path('store_default_panier') }}">Panier<span></span></a>
                                </li>
                                <li class="menu-item-has-childrenF">
                                    <a href="{{ path('user_favor') }}">Favorites<span></span></a>
                                </li>
                            </ul>
                            <div class="search-icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="search-box">
                                <form>
                                    <input type="search" value="" placeholder="Begin typing..." class="txt-search">
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block footer %}
            <!--footer-->
            <footer class="footer">
                <a href="#" class="logo">
                    <img alt="" src="{{ asset('images/logo1.png') }}" />
                </a>
                <div class="footer-bar">
                    <div class="allright">
                        <p> All rights reserved. Designed by <a href="#"> CizThemes</a></p>
                    </div>
                    <div class="social-footer">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <!--scrip file-->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('js/swiper.min.js') }}"></script>
            <script src="{{ asset('js/jquery.matchHeight.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <!-- JavaScript -->
            <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    setTimeout(function() {

                        $('.nd-carrer').addClass("show-nd-carrer");
                    }, 5000);
                    $('.nd-carrer-close').click(function() {
                        $('.nd-carrer').removeClass("show-nd-carrer");
                    });
                });

                function onxxx(event){
                    event.preventDefault();
                    const url=this.href;

                    axios.get(url).then(function (response) {
                        console.log(response);
                        alertify.set('notifier','position', 'top-right');
                        alertify.notify('Product added to cart!','success',3,function () {
                            location.reload();
                        });

                    })
                }
                document.querySelectorAll('a.additem').forEach(function (link) {
                    link.addEventListener('click',onxxx);

                });

            </script>{% endblock %}
    </body>
</html>
