{% extends 'base.html.twig' %}
{% block body %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> Liste de mes Evenements- list</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> Liste de mes Evenements</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog list section-->
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    {% for event in events %}
                        <div class="blog-item-style-1 blog-item-style-3">
                            <img src="{{ asset( 'EventsImages/' ~ event.image) }}" alt="">
                            <div class="blog-it-infor">

                                <h3><a href="{{ path('detailEvent',{'id':event.id}) }}">{{ event.titre }}</a></h3>

                                <span class="time"></span>
                                <p>{{ event.description }}</p>

                                    <h3><a href="{{ path('modifierevent',{'id':event.id}) }}">Modifier</a></h3>
                                    <h3><a href="{{ path('supprimerevent',{'id':event.id}) }}">Supprimer</a></h3>
                                    <p><h3>Etat: </h3> <h4>{{ event.etat }}</h4></p>


                            </div>
                        </div>
                    {% endfor %}

                    <ul class="pagination">
                        <li class="icon-prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">21</a></li>
                        <li><a href="#">22</a></li>
                        <li class="icon-next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="sb-search sb-it">
                            <h4 class="sb-title">Search</h4>
                            <input type="text" placeholder="Enter keywords">
                        </div>
                        <div class="sb-cate sb-it">
                            <h4 class="sb-title">Categories</h4>
                            <ul>
                                <li><a href="#">Concert</a></li>
                                <li><a href="#">Réunion</a></li>
                                <li><a href="#">Exposition</a></li>
                                <li><a href="#">Seminaire</a></li>
                                <li><a href="#">conférence</a></li>
                            </ul>
                        </div>
                        <div class="sb-recentpost sb-it">
                            <h4 class="sb-title">most popular</h4>
                            <div class="recent-item">
                                <span>01</span><h6><a href="#">Korea Box Office: Beauty and the Beast Wins Fourth</a></h6>
                            </div>
                            <div class="recent-item">
                                <span>02</span><h6><a href="#">Homeland Finale Includes Shocking Death </a></h6>
                            </div>
                            <div class="recent-item">
                                <span>03</span><h6><a href="#">Fate of the Furious Reviews What the Critics Saying</a></h6>
                            </div>
                        </div>
                        <div class="sb-tags sb-it">
                            <h4 class="sb-title">tags</h4>
                            <ul class="tag-items">
                                <li><a href="#">Batman</a></li>
                                <li><a href="#">film</a></li>
                                <li><a href="#">homeland</a></li>
                                <li><a href="#">Fast & Furious</a></li>
                                <li><a href="#">Dead Walker</a></li>
                                <li><a href="#">King</a></li>
                                <li><a href="#">Beauty</a></li>
                            </ul>
                        </div>
                        <div class="ads">
                            <img src="images/uploads/ads1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        img{
            max-width:225px;
            max-height:225px;
        }

        <!--end of blog list section-->
{% endblock %}